
.colorbandeja{

    background-color: #000000;
    color: #fff;

}

.cabeza{
  color: aliceblue;

  background-color: #343a40;
}

footer{
  background-color: #ffee32;
}
h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.vega{
  font-family:cursive;
}